body {
	margin: 0;
	padding: 0;
}

.navbar {
	background: #ab2a19;
	justify-content: space-evenly;
	align-items: center;
	display: flex;
	width: 100vw;
	height: 5vh;
}
.headerNavbar {
	width: 60vw;
}

.productForm {
	justify-content: center;
	display: flex;
	align-items: center;
	background: #3ad886;
	width: 25vw;
	margin-top: 15vh;
	margin-left: 37vw;
	border-radius: 10px;
}

.positionForm {
	margin-top: 15vh;
	width: 94%;
}

.formInput {
	width: 100%;
}

.formButtons {
	margin-top: 10px;
	justify-content: space-between;
	display: flex;
	align-items: center;
	width: 22vw;
}
